@import '~scss/variables/colors';
@import '~scss/variables/_mixins';

.container {
  @include flex;

  width: 100vw;
  background-image: url('./assets/background.jpg');
  background-position: center;
  background-size: cover;
}

.upper-section {
  @include flex(space-between, center, row);

  width: 100%;
  margin: 80px 0;
}

.lower-section {
  @include flex(space-around, center, row);

  width: 100%;
  background-color: rgba($black, 0.8);
}
