@use 'sass:color';

@import '~scss/variables/colors';

.primary-button {
  display: inline-flex;

  padding: 1.4rem 6rem;

  text-align: center;

  background-color: $primary;
  border-radius: 1rem;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: color.adjust($primary, $lightness: 10%);
  }
}

.label {
  font-size: 1.8rem;
  font-weight: bold;
  color: $white;
}
