@import "scss/variables/_colors";
@import "scss/variables/_mixins";

.container {
  @include flex(center, center, row);
  margin: 90px 0;
  gap: 100px;
}
.title {
  align-items: center;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: darken($gray, 25);
}
.button {
  align-items: center;
}
