@import 'scss/variables/_colors';
@import 'scss/variables/_mixins';

.container {
    width: 350px;
    background: $dirty-white;
    margin-left: 60px;
    padding: 30px;
    border-radius: 15px;
    @include flex(center, flex-start, column);
    gap: 25px;
}

.input {
    width: 100%;
}