@import '~scss/variables/colors';
@import '~scss/variables/_mixins';

* {
  font-family: Roboto;
}

.container {
  @include flex(center, center, row);

  gap: 50px;
  padding: 12.5vh 12vw;
  background-color: $primary;
}

.items {
  @include flex(center, flex-start);

  gap: 50px;
  width: 100%;
}

.title {
  width: 100%;

  font-size: 36px;
  font-weight: bold;
  color: $white;
  text-align: center;
}
