@import '~scss/variables/_mixins';

.container {
  @include flex;

  padding: 50px 0;

  .title {
    margin-bottom: 50px;
    text-align: center;
  }
}

.sign-container {
  @include flex(center, center, row);

  gap: 80px;
  margin-top: 30px;
}
