@import '~scss/variables/colors';
@import '~scss/variables/_mixins';

.link {
  @include flex(center, center, row);

  padding: 10px;

  &:hover {
    cursor: pointer;
  }

  p {
    padding: 25px 20px 0;
    font-size: 15px;
    color: $white;
  }
}
