@import '~scss/variables/colors';
@import '~scss/variables/_mixins';

* {
  font-family: Roboto;
}

.container {
  @include flex(space-around, center, column);

  max-width: 350px;
  margin: 20px;
  padding: 25px;

  text-align: center;

  background-color: $primary;
  border-radius: 10px;
}

.text {
  font-size: 15px;
  line-height: 18px;
  color: $white;
  white-space: pre-wrap;
}

.personName {
  margin-top: 20px;

  font-size: 18px;
  font-weight: bold;
  color: $white;
  text-align: right;
}

.alingRight {
  width: 100%;
  text-align: right;
}
