@import '~scss/variables/colors';
@import '~scss/variables/_mixins';

* {
  font-family: Roboto;
}

.container {
  gap: 30px;
  padding: 7vh 12vw;
  background-color: $primary;
}

.upSide {
  @include flex(space-between, center, row);
}

.logo {
  height: 70px;
  margin-left: 15px;
}

.data {
  @include flex(center, flex-end, column);

  h2 {
    padding-bottom: 40px;
    font-size: 26px;
    font-weight: bold;
    color: $dirty-white;
  }

  p {
    padding: 5px;
    font-size: 17px;
    color: $white;
  }
}
