@import '~scss/variables/colors';
@import '~scss/variables/mixins';

.container {
  @include flex(center, start);
}

.label {
  margin-bottom: 0.7rem;
  color: $black;
}

.input {
  width: 100%;
  padding: 0.8rem 1.3rem;

  color: $black;

  border: 0.1rem solid $border-light;
  border-radius: 0.5rem;

  &:focus {
    border-color: $primary;
  }
}
