@import '~scss/variables/colors';
@import '~scss/variables/mixins';

.container {
  @include flex(space-between, center, row);

  height: 10rem;
  padding: 0 5rem 0 8rem;
  background: $dirty-white;
}

.logo {
  height: 5.5rem;
}

.right-side {
  @include flex(flex-end, center, row);

  gap: 3rem;
}
