@import "scss/variables/_colors";
@import "scss/variables/_mixins";

.container {
    @include flex(space-between, center, row);
    background: $dirty-white;
    padding: 0 50px 0 80px;
    height: 100px;
}

.logo {
    height: 55px;
}

.rightSide {
    @include flex(flex-end, center, row);
    gap: 30px
}