@use 'sass:color';

$white: #fff;
$dirty-white: #f7f7f7;
$black: #000;
$red: #f00;
$blue: #00f;
$gray: #a2a2a2;
$primary: #36ba6e;
$lighten-black: color.adjust($black, $lightness: 20%);
$darken-primary: color.adjust($primary, $lightness: -10%);

/* Border colors */

$border-light: color.adjust($gray, $lightness: 5%);
$border-lighter: color.adjust($gray, $lightness: 25%);
