@import '~scss/variables/colors';

* {
  font-family: Roboto;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.icon {
  width: 100% !important;
  margin-bottom: 20px;
  font-size: 40px;
  color: $primary;
}

.text {
  font-size: 12px;
  line-height: 18px;
  color: $black;
  white-space: pre;
}
